@import "tailwindcss";

/* Ocultar barra de rolagem mas manter funcionalidade touch/mouse */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
